<div class="large-8 columns">
<h1>New Sighting</h1>

<%= render 'form' %>

<%= link_to 'Back', tsightings_path %>

</div>
<div class="large-4 columns">
	<%= image_tag "MinkMap.jpeg" %>
	<p>The Scottish Mink Initiative operates across  ~30,000 km² of northern Scotland - from north Tayside across Aberdeenshire, Moray, and the Cairngorms National Park to the north and east Highlands.</p>
</div>