<p id="notice"><%= notice %></p>

<h1>Listing Rafts</h1>

table>
  <thead>
    <tr>
      <th>X cord</th>
      <th>Y cord</th>
      <th>River</th>
      <th>Catchment</th>
      <th>Start date</th>
      <th>Raft code</th>
      <th>Raft or tunnel</th>
      <th>Status change date</th>
      <th>Raft status</th>
      <th>Contact code</th>
      <th>Organisation</th>
      <th>Landowner contact code</th>
      <th>Dispatcher contact code</th>
      <th>Access notes</th>
      <th>Comments</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>

<br>
<br>


