<h1>Scottish Mink Initiative</h1>

<p>
Welcome to the website of the Scottish Mink Initiative, an exciting nature conservation initiative working across northern Scotland. Scottish Mink Initiative is a community based initiative aiming to protect native wildlife by removing breeding American mink from northern Scotland and the Highlands.

The initiative is part of the Rivers and Fisheries Trusts of Scotland's Biosecurity and Invasive Non Native Species Programme, implementing a large scale strategic approach to American mink control, as recommended by Scottish Natural Heritage through the Species Action Framework.

If you are a Mink Volunteer, please login into the system.
</p>